.Gif {
  border: 1px solid #eee;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 32px;
  width: 70%;
  align-content: center;
}

.Gif img {
  object-fit: contain;
}
